<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strona Startowa</title>
  <link rel="stylesheet" th:href="@{/css/template.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/template_authentication.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>
<body>
<header class="container">
  <h1><b>Home page</b></h1>
</header>
<main class="container">


</main>
<footer class="container"></footer>
</body>
</html>
