
  <form class="ngForm">
    <div class="form-row align-items-end">
      <div class="form-group col-xs-4 col-md-4">
        <label for="place" class="control-label">Place</label>
        <input
          id="place"
          class="form-control"
          type="text"
          [required]="true"
          (blur)="verifyForm()"
          [(ngModel)]="form.place"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <div class="form-group col-xs-4 col-md-4">
        <label for="hotelName" class="control-label">Hotel Name</label>
        <input
          id="hotelName"
          class="form-control"
          type="text"
          [required]="true"
          (blur)="verifyForm()"
          [(ngModel)]="form.hotelName"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <div class="form-group col-xs-4 col-md-4">
        <label for="startDate" class="control-label">Start Date</label>
        <input
          id="startDate"
          class="form-control"
          type="date"
          [required]="true"
          (blur)="verifyForm()"
          [(ngModel)]="form.startDate"
          [ngModelOptions]="{standalone: true}"
        />
      </div>

      <div class="form-group col-xs-4 col-md-4">
        <label for="endDate" class="control-label">End Date</label>
        <input
          id="endDate"
          class="form-control"
          type="date"
          [required]="true"
          (blur)="verifyForm();checkDates()"
          [(ngModel)]="form.endDate"
          [ngModelOptions]="{standalone: true}"
        />
        <label style="color: red" for="endDate" [hidden]="!isStartDateBigger">Start Date cannot be bigger than End Date</label>
      </div>

      <div class="form-group ">
        <button class="btn btn-primary "
                type="submit"
                [disabled]="!isFormValid"
                (click)="search()">
          Search
        </button>
      </div>
    </div>

  </form>

